*{
    box-sizing: border-box;
}
.col{
    width: 100%;
}
h1{
    margin-bottom: 15px;
    text-align: center;
}
.Chicken{
    position: relative;
    float: left;
    border: 3px solid black; 
    background-color: rgb(100,150,203);
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    text-align: center;
}
.Beef{
    position: relative;
    float: left;
    border: 3px solid black; 
    background-color: rgb(100,150,203);
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}
.Vegetables{
    position: relative;
    float: left;
    border: 3px solid black; 
    background-color: rgb(100,150,203);
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}
.name{
    border-style: solid;
    border-width: .5px 0px 5px 5px;
    width: 30%;
    height:auto;
    margin-bottom: 10px ;
    margin-left: auto;
    margin-top: 0px;
    float: right;
    background-color: red; 
}

.item{
    margin-top: 25px;
    text-align: left;
}

/* Responsive Designs*/
/* Large Screens */
@media (min-width: 992px){
    .col-lg-4{
        float: left;

    }
    .col-lg-4{
        width: 33.33%;
    }
}
/* Medium Screens */
@media(min-width: 787px) and (max-width: 991px ){
    .col-md-2{
        float: left;
        
    }
    .col-md-2{
        width: 50%;
    }
}
/* Small Screens */
@media(max-width: 786px){
    .col-sm-1{
        float: left;

    }
    .col-sm-1{
        width: 100%;
    }
}