.col{
    width: 100%;
}
h1{
    margin-bottom: 15px;
    text-align: center;
}
.Chicken{
    box-sizing: border-box; /* Makes it so that the content stays inside the window and does not extend past the border set below*/
    background-color: rgb(100,150,203);
    text-align: center;
    border: 3px solid black;
    margin: 10px; /* put 10px of space all around window*/
    padding: 60px 10px 10px 10px; /* controls spacing inside window */
}

.Beef{
    box-sizing: border-box;
    background-color: rgb(100,150,203);
    text-align: center;
    border: 3px solid black;
    margin: 10px; /* put 10px of space all around window*/
    padding: 60px 10px 10px 10px; /* controls spacing inside window */

}
.Vegetables{
    box-sizing: border-box;
    background-color: rgb(100,150,203);
    text-align: center;
    border: 3px solid black;
    margin: 10px; /* put 10px of space all around window*/
    padding: 60px 10px 10px 10px; /* controls spacing inside window */
   
    
}
.name{
    box-sizing: border-box;
    text-align: center;
    border: 3px solid black;
    width: 50%; /* content width in relation to the window */
    background-color: red;
    position: absolute; /* makes boxes position static inside the window*/
    top: 10px; /* this and "right" are used when position is absolute*/
    right: 10px;
    
    
    
}

.item{
    margin-top: 25px;
    text-align: left;
}

/* Responsive Designs*/
/* Large Screens */
@media (min-width: 992px){
    .col-lg-4{
        float: left;

    }
    .col-lg-4{
        width: 33.33%;
        position: relative;
    }
}
/* Medium Screens */
@media(min-width: 787px) and (max-width: 991px ){
    .col-md-2{
        float: left;
        
    }
    .col-md-2{
        width: 50%;
        position: relative;
    }
}
/* Small Screens */
@media(max-width: 786px){
    .col-sm-1{
        float: left;

    }
    .col-sm-1{
        width: 100%;
        position: relative;
    }
}